/*
Defining the media queries
320px - 480px:  Mobile
480px - 768px: Tablets
768 - 1024 : Small Screens
> 1024px : Desktop
*/

/* Defining the Website Variables */
:root {
  --primary-color: #bd6dff;
  --secondary-color: #3730fd;
  --button-color: #d9d9d9;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-border: #2d0c57;
  --gradient: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  --font-family: "Pixelify Sans", sans-serif;

  --button-font-size: 13px;
  --title-font-size: 31px;
  --text-font-size: 18px;
  --info-titles-font-size: 27px;
  --nav-font-size: 18px;
  --partners-titles: 25px;
  --border-radius: 30px;

  --box-shadow: 3px 10px 6px -4px rgba(0, 0, 0, 0.2);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--button-color);
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

/* Body Styling */
body {
  font-family: var(--font-family);
  line-height: 1.5;
  background-position: center;
  background-image: url(Assets/SVGBG.png),
    linear-gradient(to right, #3730fd, #3730fd, #2114dd);
}

/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  width: 90%;
  height: 45px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}
.container {
  display: flex;
  justify-content: center;
  padding: 0px 10px 25px;
}

/*NavBar elements*/

/*I'm not sure if the PX in the logo is a placeholder*/
.logo {
  font-size: var(--nav-font-size);
  color: var(--color-black);
  font-size: 30px;
}

.nav-links {
  display: flex;
  gap: clamp(20px, 2vw, 40px);
}
.link {
  border-radius: 7px;
}
.nav-links li a {
  font-size: clamp(15px, 3vw, var(--nav-font-size));
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: var(--secondary-color);
}
.close {
  display: none;
}
.register-btn {
  padding: 10px 20px;
  color: var(--color-black);
  border-radius: var(--border-radius);
  white-space: nowrap;
  font-size: var(--button-font-size);
  transition: background-color 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}

/*I haven't decided on a hover effect*/
.register-btn:hover {
}
/* Hero Styling*/

.Hero-img {
  position: relative;
}

.Hero-img img[src="Assets/first_page.png"] {
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  margin-inline: auto;
  border: 5px solid var(--primary-color);
  width: 80%;
  box-shadow: var(--box-shadow);
}

.cloud {
  position: absolute;
}

.cloud img {
  width: 11vw;
}

.cloud1 {
  top: 70%;
  left: 10%;
}

.cloud2 {
  top: 11%;
  left: 5%;
}

.cloud3 {
  top: 27%;
  right: 4%;
}
.grasses {
  position: absolute;
  right: 5%;
  top: 92%;
}

.grasses img {
  width: 15vw;
}

.Hero-btn {
  position: absolute;
  z-index: 0;
  top: 34%;
  padding: 5px 20px;
  white-space: nowrap;
  width: 30%;
  max-width: 350px;
  left: 40%;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--button-font-size);
  box-shadow: var(--box-shadow);
  letter-spacing: 0.1rem;
}
.coins img {
  padding-block: 12px;
  width: 25vw;
}

/*info section*/
.info {
  display: grid;
  place-items: center;
  padding-top: 20px;
}
.container {
  margin: 15px;
}

.floating {
  animation: floating 2.5s ease-in-out infinite;
}

.title {
  font-size: var(--title-font-size);
  color: var(--color-white);
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;

  letter-spacing: 0.15em;
  animation: typing 4.5s steps(32, end), blink-caret 0.75s step-end infinite;
  font-weight: 700;
  margin-bottom: 25px;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
}
.info-text {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  padding: 20px;
  font-size: 20px;
}
.Hero-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );

  position: absolute;

  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.Hero-btn:active {
  color: var(--button-color);
}

.Hero-btn:active:after {
  background: transparent;
}

.Hero-btn:hover:before {
  opacity: 1;
}

.Hero-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--button-color);
  left: 0;
  top: 0;
  border-radius: 30px;
}

.info-container {
  background-color: var(--primary-color);
  padding: 16px;
  margin: 40px;
  color: var(--color-white);
  max-width: 500px;
  border-radius: 20px;
  border: 5px solid var(--color-border);
  min-height: 200px;
  position: relative;
  display: grid;
  place-content: center;
  font-size: var(--text-font-size);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.Event-Format {
  text-align: left;
}
.info-title {
  font-size: var(--info-titles-font-size);
  display: grid;
  place-items: center;
  margin: auto;
  color: var(--color-white);
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000;
  font-weight: 700;
}
/*The mario icon*/
.info-container img:first-of-type {
  width: 50px;
  top: -40px;
  left: 45%;
  position: absolute;
}

.info-icon {
  width: 60px;
  margin: auto;
}
/*partners*/
#partners {
  padding: 70px;
  display: grid;
  place-items: center;
}
.partners-title {
  color: var(--color-white);
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 2px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -2px 1px 0 #000, -1px 0 0 #000;
  box-shadow: var(--box-shadow);
  font-weight: 700;
  font-size: var(--partners-titles);
  background-color: var(--primary-color);
  padding: 10px;
  border: 5px solid var(--color-border);
  margin-bottom: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
}
.partners-container {
  background-color: var(--primary-color);
  height: 120px;
  width: 150px;
  margin: 20px;

  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.partners-container img {
  max-width: 100%;
  min-height: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.partners-container:nth-child(4) {
  margin-left: calc(10%);
}

.partners-container:nth-child(5) {
  margin-right: calc(10%);
}

/*footer*/
footer {
  background-color: var(--primary-color);
  border: 5px solid var(--color-border);

  position: relative;
  padding: 10px;
}

.contact {
  color: var(--color-white);
  display: grid;
  font-size: 17px;
  place-items: center;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    1px 2px 0 #000, 0 2px 0 #fe3434, -2px 1px 0 #000, -1px 0 0 #000;
}
.menu {
  display: none;
  font-size: 28px;
}
.mario-footer {
  position: absolute;
  bottom: 0;
  width: 24.5vw;
  right: -0.3%;
}
.social-media img {
  width: 3%;
  cursor: pointer;
}
.social-media {
  margin-right: 20%;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.grass-footer {
  position: absolute;
  top: -45%;

  right: -0.3%;
  z-index: -2;
}
.video {
  width: 50%;
  margin-block: 2rem;
  height: 28.125vw;
  border-radius: 30px;
  border: 5px solid var(--primary-color);
}
@media (min-width: 1024px) {
  /*navbar*/
  .navbar {
    width: 75%;
  }

  .nav-links li a {
    padding-inline: 5px;
  }
  /*Hero*/
  .coins img {
    width: 19vw;
  }
  .cloud1 {
    top: 70%;
    left: 20%;
  }

  .cloud2 {
    top: 11%;
    left: 15%;
  }

  .cloud3 {
    top: 30%;
    right: 18%;
  }
  .grasses {
    position: absolute;
    right: 17%;
    top: 90%;
  }
  .cloud img {
    width: 7vw;
  }
  .title {
    font-size: 40px;
  }

  /*info*/
  .info-title {
    font-size: 32px;
  }
  .info-container {
    max-width: 50%;
    min-height: 250px;
    margin: 80px;
    font-size: 21px;
  }

  /*partners*/

  .Hero-img img[src="Assets/first_page.png"] {
    width: 60%;
    max-width: 900px;
  }
  .partners-container {
    height: 180px;
    width: 205px;
  }
  .partners-title {
    margin-bottom: 100px;
  }
  .flex-container {
    gap: 40px;
  }
  .partners-container:nth-child(4) {
    margin-left: calc(20%);
  }

  .partners-container:nth-child(5) {
    margin-right: calc(20%);
  }
  /*footer*/
  footer {
    margin-top: 200px;
  }
  .mario-footer {
    width: 19.5%;
  }
  .contact {
    font-size: 19px;
  }
}
/*media query for smaller screens*/
@media (max-width: 768px) {
  /**/
  .container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 0 0 40px 30px;
  }
  .menu {
    width: 40px;
    display: block;
    position: absolute;
  }
  .Hero-btn {
    width: auto;

    top: 32%;
  }
  .close {
    width: 40px;
    display: block;
    position: absolute;
    top: 8%;
    right: 3%;
    cursor: pointer;
  }
  .menu img {
    width: 20px;
  }
  footer {
    margin-top: 40px;
  }
  .social-media {
    margin: 0;
  }
  .mario-footer {
    display: none;
  }

  @media (max-width: 768px) {
    .navbar {
      display: none;
      flex-direction: column;
      height: auto;
      position: fixed;
      z-index: 111;
      top: 0;
      left: 0;
      justify-content: center;
      border-radius: 0 0 30px 30px;
      width: 100%;
      transform: translateY(-150%);
      transition: 0.4s;
    }

    .active {
      display: block;
      transform: translateY(0%);
    }
  }

  .active {
    transform: translateY(0%);
  }
  .nav-links {
    gap: 0;
    justify-content: center;
    padding: 40px;
  }
  .navbar li {
    padding: 7px;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .register-btn {
    display: none;
  }
  .nav-links {
    flex-direction: column;
  }
  .Hero-img img[src="Assets/first_page.png"] {
    width: 90%;
  }
  .social-media img {
    width: 5%;
  }
  .info-container {
    width: 85%;
  }
  .Hero-btn {
    width: 45%;
    left: 35%;
    gap: 5px;
    padding: 2px 20px;
    font-size: 12px;
  }

  .info-container {
    font-size: 17px;
  }

  #partners {
    padding: 70px 0px;
  }
  .video {
    width: 70%;
    height: 39.375vw;
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .info-container {
    width: 90%;

    font-size: 3.7vw;
    max-height: 400px;
    padding-top: 30px;
  }
  .info-title {
    font-size: 20px;
  }
  .title {
    padding: 0;
    font-size: 25px;
  }
  .info-text {
    font-size: 16px;
  }
  .flex-container {
    gap: 0;
  }
  .Hero-btn {
    width: 55%;
    padding: 5px 40px;
    left: 30%;
    letter-spacing: normal;
  }
  .link {
    width: 6vw;
  }
  .info-container img:first-of-type {
    width: 10vw;
    top: -7%;
    left: 45%;
  }
  .Hero-btn {
    padding: 0px;
    font-size: 12px;
  }
  #partners {
    padding: 2px 0;
  }
  .partners-title {
    font-size: 20px;
  }
  .partners-container {
    height: 80px;
    width: 100px;
    margin: 7px;
  }
  .flex-container {
    gap: 5px;
  }
  .partners-container:nth-child(5) {
    margin-right: 20px;
  }
  .contact {
    font-size: 16px;
  }
  footer {
    margin-top: 150px;
  }
}
/*keyframe animations*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bd6dff;
  }
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*  scroll bar     */
::-webkit-scrollbar {
  width: 10px;
  min-height: 24px;
  max-height: 24px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid var(--color-border);
  border-radius: 24px;
  margin-block: 1.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bd6dff84; /* Changes color on hover */
}
